In [1]:
import requests
import pandas as pd
import functions
from datetime import datetime
from importlib import reload
reload(functions)

In [2]:
owner, repo, repo_link = "stella-group", "hpx", "https://github.com/stellar-group/hpx"
repo_link

'https://github.com/stellar-group/hpx'

In [3]:
pd.set_option('display.max_rows', None)

## Git quick stats

In [4]:
functions.clone_git_repo(owner, repo, repo_link)
git_contributors_df = await functions.get_git_contributors(owner, repo, datetime.now())
git_contributors_df.head(10)

,name,email,insertions,deletions,lines_changed,files,commits,first_commit,last_commit
0,Hartmut Kaiser,hartmut.kaiser@gmail.com,1738062,972433,2710495,54449,7350,2012-05-26 08:02:39-07:00,2024-11-20 10:13:13-06:00
1,Bryce Adelstein-Lelbach,blelbach@cct.lsu.edu,514791,2214309,2729100,12243,2581,2011-02-03 14:08:06+00:00,2016-02-19 14:09:36-06:00
2,Hartmut Kaiser,hkaiser@cct.lsu.edu,515616,323736,839352,14526,1912,2008-03-24 15:26:55+00:00,2012-07-09 18:21:50+00:00
3,Mikael Simberg,mikael.simberg@iki.fi,793138,802180,1595318,27488,1727,2017-09-29 17:45:24+02:00,2023-08-31 14:08:43+02:00
4,Agustin K-ballo BergeK-ballo,k@fusionfenix.com,412024,927156,1339180,15746,1161,2013-06-20 04:49:55-03:00,2021-03-20 16:31:11-03:00
5,Thomas Heller,thom.heller@gmail.com,246708,122880,369588,5591,1085,2012-07-13 12:13:43+00:00,2019-10-23 16:39:05+02:00
6,John Biddiscombe,biddisco@cscs.ch,81646,45147,126793,2278,829,2014-02-19 13:52:29+01:00,2021-05-27 17:57:57+02:00
7,Matthew Anderson,manderson@cct.lsu.edu,522611,40553,563164,2497,688,2009-08-13 20:47:57+00:00,2012-07-06 16:11:52+00:00
8,aurianerAuriane R,aurianer@cscs.ch,194154,118387,312541,14775,687,2019-05-23 15:20:20+02:00,2021-12-14 16:09:31+01:00
9,Thomas Heller,thomas.heller@cs.fau.de,60175,46653,106828,2931,540,2012-08-21 11:20:38+02:00,2018-02-06 09:50:30+01:00

## Citation File Format (Authors)

In [5]:
cff_authors_df, cff_df = functions.get_cff_data(owner, repo)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xed in position 817: invalid continuation byte

In [ ]:
print(cff_authors_df[0][1])
cff_authors_df[0][0]

2023-06-29 17:31:14-06:00

Empty DataFrame
Columns: []
Index: []

In [ ]:
cff_df

,cff_valid,type,date-released,doi,identifier-doi,committed_datetime,authored_datetime
0,True,software,None,None,None,2023-06-29 17:31:14-06:00,2023-06-29 17:31:14-06:00

In [ ]:
result = functions.matching(cff_authors_df[0][0], git_contributors_df)
result

Empty DataFrame
Columns: [rank, insertions, deletions, lines_changed, files, commits, first_commit, last_commit, score]
Index: []

## Citation File Format (Preferred citation Authors)

In [ ]:
cff_authors_df, cff_df = functions.get_cff_preferred_citation_data(owner, repo)

In [ ]:
print(cff_authors_df[0][1])
cff_authors_df[0][0]

2023-06-29 17:31:14-06:00

             name email ORCID
0  John D. Hunter  None  None

In [ ]:
cff_df

,cff_valid,type,date-released,date-published,year,month,doi,collection-doi,identifier-doi,committed_datetime,authored_datetime
0,True,article,None,2007-06-18,2007,None,10.1109/MCSE.2007.55,None,None,2023-06-29 17:31:14-06:00,2023-06-29 17:31:14-06:00

In [ ]:
result = functions.matching(cff_authors_df[0][0], git_contributors_df)
result

,name,email,ORCID,rank,insertions,deletions,lines_changed,files,commits,first_commit,last_commit,score
0,John D. Hunter,None,None,6,356071,224386,580457,5956,1475,2005-04-11 15:17:26+00:00,2012-06-30 14:02:02-05:00,0.5