In [1]:
import requests
import pandas as pd
import functions
from importlib import reload
reload(functions)

Service is a CouchDB
<https://www.r-pkg.org/services>
What is R-Hub in this context?

https://cran.r-project.org/web/packages/ggplot2/index.html
https://r-pkg.org/pkg/ggplot2
https://crandb.r-pkg.org/ggplot2

In [2]:
package_name = "ggplot2"
response = requests.get(f"https://crandb.r-pkg.org/{package_name}")
cran_data = response.json()

In [3]:
owner, repo, repo_link = functions.get_cran_repo(cran_data)
repo_link

'https://github.com/tidyverse/ggplot2'

In [4]:
pd.set_option('display.max_rows', None)

## Git quick stats

In [5]:
git_contributors_df = await functions.get_git_contributors(owner, repo, repo_link, package_name)
git_contributors_df.head(10)

,name,email,insertions,deletions,lines_changed,files,commits,first_commit,last_commit
0,hadleyHadley Wickham,h.wickham@gmail.com,327019,236072,563091,13840,2275,2007-11-06 20:02:08+00:00,2024-04-24 08:24:43-05:00
1,Winston Chang,winston@stdout.org,31473,33787,65260,2869,589,2011-12-07 04:36:49-06:00,2018-07-26 18:12:17-04:00
2,Teun van den Brand,49372158+teunbrand@users.noreply.github.com,58483,23651,82134,2457,372,2020-01-11 17:13:42+01:00,2024-08-28 09:55:50+02:00
3,Thomas Lin PedersenThomas Dybdal Pedersenthoma...,thomasp85@gmail.com,130191,125631,255822,2507,314,2016-01-28 15:40:35+01:00,2024-04-23 12:21:56+02:00
4,Kohske Takahashi @ YukarinKohske Takahashi @ Y...,takahashi.kohske@gmail.com,6802,3897,10699,372,194,2010-10-14 09:43:37+09:00,2012-06-27 06:53:31+09:00
5,Hiroaki Yutaniyutannihilation,yutani.ini@gmail.com,4562,3424,7986,754,159,2016-03-04 06:24:40+09:00,2024-07-08 18:14:27+09:00
6,Claus Wilke,wilke@austin.utexas.edu,31645,26912,58557,666,99,2018-01-12 09:22:18-06:00,2022-07-07 11:29:26-05:00
7,Jean-Olivier Irisson,irisson@normalesup.org,1181,656,1837,133,60,2011-05-18 17:40:39+02:00,2016-01-26 15:00:52+01:00
8,Lionel Henry,lionel.hry@gmail.com,80950,43731,124681,1025,58,2014-06-09 13:08:19+02:00,2022-04-19 14:29:06+02:00
9,Dewey Dunnington,dewey@fishandwhistle.net,7545,2743,10288,213,47,2019-01-20 19:01:54-06:00,2021-05-19 10:57:34-03:00

## CRAN Authors

In [6]:
cran_authors_df = functions.get_cran_authors(cran_data)
cran_authors_df

                  name                     email                ORCID
0       Hadley Wickham           hadley@posit.co  0000-0003-4757-117X
1        Winston Chang                      None  0000-0002-1576-2126
2         Lionel Henry                      None                 None
3  Thomas Lin Pedersen  thomas.pedersen@posit.co  0000-0002-5147-4711
4     Kohske Takahashi                      None                 None
5          Claus Wilke                      None  0000-0002-7470-9261
6             Kara Woo                      None  0000-0002-5125-4188
7       Hiroaki Yutani                      None  0000-0002-3385-7233
8     Dewey Dunnington                      None  0000-0002-9415-4582
9   Teun van den Brand                      None  0000-0002-9335-7468

In [7]:
result = functions.matching(cran_authors_df, git_contributors_df)
result

,name,email,ORCID,rank,insertions,deletions,lines_changed,files,commits,first_commit,last_commit,score
0,Hadley Wickham,hadley@posit.co,0000-0003-4757-117X,1,327019,236072,563091,13840,2275,2007-11-06 20:02:08+00:00,2024-04-24 08:24:43-05:00,0.5
1,Winston Chang,None,0000-0002-1576-2126,2,31473,33787,65260,2869,589,2011-12-07 04:36:49-06:00,2018-07-26 18:12:17-04:00,0.5
9,Teun van den Brand,None,0000-0002-9335-7468,3,58483,23651,82134,2457,372,2020-01-11 17:13:42+01:00,2024-08-28 09:55:50+02:00,0.5
4,Kohske Takahashi,None,None,5,6802,3897,10699,372,194,2010-10-14 09:43:37+09:00,2012-06-27 06:53:31+09:00,0.5
7,Hiroaki Yutani,None,0000-0002-3385-7233,6,4562,3424,7986,754,159,2016-03-04 06:24:40+09:00,2024-07-08 18:14:27+09:00,0.5
5,Claus Wilke,None,0000-0002-7470-9261,7,31645,26912,58557,666,99,2018-01-12 09:22:18-06:00,2022-07-07 11:29:26-05:00,0.5
2,Lionel Henry,None,None,9,80950,43731,124681,1025,58,2014-06-09 13:08:19+02:00,2022-04-19 14:29:06+02:00,0.5
8,Dewey Dunnington,None,0000-0002-9415-4582,10,7545,2743,10288,213,47,2019-01-20 19:01:54-06:00,2021-05-19 10:57:34-03:00,0.5
6,Kara Woo,None,0000-0002-5125-4188,11,11794,8453,20247,577,44,2017-06-01 09:09:18-07:00,2020-10-27 20:39:55-07:00,0.5
3,Thomas Lin Pedersen,thomas.pedersen@posit.co,0000-0002-5147-4711,200,11,7,18,5,1,2024-08-23 11:39:12+02:00,2024-08-23 11:39:12+02:00,1.0

## CRAN Maintainers

In [8]:
cran_maintainers_df = functions.get_cran_maintainers(cran_data)
cran_maintainers_df

                  name                     email
0  Thomas Lin Pedersen  thomas.pedersen@posit.co

In [9]:
result = functions.matching(cran_maintainers_df, git_contributors_df)
result

,name,email,rank,insertions,deletions,lines_changed,files,commits,first_commit,last_commit,score
0,Thomas Lin Pedersen,thomas.pedersen@posit.co,200,11,7,18,5,1,2024-08-23 11:39:12+02:00,2024-08-23 11:39:12+02:00,1.0

## Citation File Format (Authors)

In [10]:
cff_authors_df, cff_df = functions.get_cff_data(owner, repo)

In [11]:
cff_authors_df

Empty DataFrame
Columns: []
Index: []

In [12]:
cff_df

Empty DataFrame
Columns: []
Index: []

In [13]:
result = functions.matching(cff_authors_df, git_contributors_df)
result

Empty DataFrame
Columns: [rank, insertions, deletions, lines_changed, files, commits, first_commit, last_commit, score]
Index: []

## Citation File Format (Preferred citation Authors)

In [14]:
cff_authors_df, cff_df = functions.get_cff_preferred_citation_data(owner, repo)

In [15]:
cff_authors_df

Empty DataFrame
Columns: []
Index: []

In [16]:
cff_df

Empty DataFrame
Columns: []
Index: []

In [17]:
result = functions.matching(cff_authors_df, git_contributors_df)
result

Empty DataFrame
Columns: [rank, insertions, deletions, lines_changed, files, commits, first_commit, last_commit, score]
Index: []

## Citation.bib

In [18]:
bib_authors_df, bib_df = functions.get_bib_data(owner, repo)

In [19]:
bib_authors_df

Empty DataFrame
Columns: []
Index: []

In [20]:
bib_df

Empty DataFrame
Columns: []
Index: []

In [21]:
result = functions.matching(bib_authors_df, git_contributors_df)
result

Empty DataFrame
Columns: [rank, insertions, deletions, lines_changed, files, commits, first_commit, last_commit, score]
Index: []

## Description

In [22]:
description = cran_data['Description']
description_df = functions.get_description_authors(description)
description_df

Empty DataFrame
Columns: [name]
Index: []

In [23]:
result = functions.matching(description_df, git_contributors_df)
result

Empty DataFrame
Columns: [name, rank, insertions, deletions, lines_changed, files, commits, first_commit, last_commit, score]
Index: []

## README.md

In [24]:
readme_df = functions.get_readme_authors(owner, repo)
readme_df

                  name
0             Kara Woo
1  Thomas Lin Pedersen
2        Winston Chang

In [25]:
result = functions.matching(readme_df, git_contributors_df)
result

,name,rank,insertions,deletions,lines_changed,files,commits,first_commit,last_commit,score
2,Winston Chang,2,31473,33787,65260,2869,589,2011-12-07 04:36:49-06:00,2018-07-26 18:12:17-04:00,1.0
1,Thomas Lin Pedersen,4,130191,125631,255822,2507,314,2016-01-28 15:40:35+01:00,2024-04-23 12:21:56+02:00,1.0
0,Kara Woo,11,11794,8453,20247,577,44,2017-06-01 09:09:18-07:00,2020-10-27 20:39:55-07:00,1.0